*{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0; 
    background-color: #66a77c;
    background-color: black;
    overflow-y: scroll;
    background-repeat: no-repeat,no-repeat;
    background-size: 100%,100%;
    background-size: cover;
    text-decoration: none;    
}

/* ##Navigation Bar##----------------------------------- */
nav{
    background:black;
    height: 60px;
    top: 0%;
    color: #ffffff;
    position:fixed;
    z-index: 1000000;
    width: 100%;
    font-family: sans-serif;
    }
        
    nav:hover{
        background: #000000;
        transition: .4s;
        }

/* ############# LOGO #####################*/
.lgi{
    transform: scale(.28);
    position: fixed;
    width: 10px;
    height: 0px;
    top: -10px;
}
/* ##Name-topleft##---------------------------------- */
label.logo{
    color: White;
    padding: 0 20px;
    font-size: 35px;
    margin-left: 60px;
    top: 35px;
    line-height:50px;
    }
        
    label.logo:hover{
        color: White;
        padding: 0 20px;
        font-size: 40px;
        transition: .4s;
        cursor: pointer;
        }
        
/* ##Options-positioning##------------------------------------ */
nav ul{
    float: right;
    margin-right:15px;
    top: 10px;

    }
        
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 0px 15px;
    font-size: 18px;
    }
        
nav ul li a{
    font-size: 20px;
    color: white;
    font-family: monospace ;
    }
        
    nav ul li:hover{
        border: 2px solid white;
        background: #ffffff33;
        font-size: 22px;
        border-radius: 5px;
        padding: 1px 3px;
        cursor: pointer;
        transition: .3s;
        }
        
/* FA FA BAR-------------------------------------------- */
.icon{
    font-size: 30px;
    color: white;
    float: right;
    margin-top: -10px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; 
}
#btn{
    display: none;
}

/* ################ CONTAINER ####################### */
.contents{
    margin-top: 60px;
    margin-left: 6%;
    margin-right: auto;
    align-items: center;
    width: 88%;
    background-color: #28292900;
    border: 2px solid white;
    border-color: #ffffff0D;
    border-radius: 15px;
    z-index: -1;
    
}
.head{
    background-color: #28292900;
    border-radius: 15px;
}
.header{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    background-color: #ffffff00;
    z-index: 10;
}
.headerpart{
    text-align: center;
    color:white;
    background-color: #ffffff00;
    font-family: cursive;
    font-size: 25px;
    z-index: 15;
}

/* ##################### Store #####################*/
.gapp{
    color: black;
    border: 0px solid white;
    border-color:black;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffffff0F;
    }
.gapptxt{
    margin-top: 30px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 40px;
    color: white;
    margin-left: 25px;
}
.gapplc{
    border: 2px solid white;
    border-color: #00000000;
    border-radius: 15px;
    color: white;
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

/* ##################### Discord ################### */
.discord{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    transition: .6s;
}
.discotxt{
    font-size: 30px;
}
.discolnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.discoimg img{
   width: 200px; 
}
.discord:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.discolnk a:hover{
    color: chartreuse;
}


/* ##################### Epic Games ################### */
.epic{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    display: inline-block;
    transition: .6s;
}
.epictxt{
    font-size: 30px; 
}
.epiclnk a{
    color: cyan;
    transition: .7s;
}
.epicimg img{
   width:141px;   
}
.epic:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.epiclnk a:hover{
    color: chartreuse;
}

/* ##################### Steam ################### */
.steam{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    transition: .6s;
}
.steamtxt{
    font-size: 30px; 
}
.steamlnk a{
    color: cyan;
    transition: .7s;
}
.steamimg img{
   width:158px;   
}
.steam:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.steamlnk a:hover{
    color: chartreuse;
}

/* ##################### App Store #####################*/
.aapp{
    color: black;
    border: 0px solid white;
    border-color:black;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffffff0F;
    }
.aapptxt{
    margin-top: 30px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 40px;
    color: white;
    margin-left: 20px;
}
.aapplc{
    border: 2px solid white;
    border-color: #00000000;
    border-radius: 15px;
    color: white;
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

/* ##################### LOGITECH ################### */
.logi{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.logitxt{
    font-size: 30px;
}
.logilnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.logiimg img{
   width: 150px; 
}
.logi:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.logilnk a:hover{
    color: yellow;
}

/* ################ rAZER ############# */
.razr{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.razrtxt{
    font-size: 30px;
}
.razrlnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.razrimg img{
   width: 163px; 
}
.razr:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.razrlnk a:hover{
    color: yellow;
}

/*################# WhirlWindFx ##################### */
.wwf{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.wwftxt{
    font-size: 30px;
}
.wwflnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.wwfimg img{
   width: 162px; 
}
.wwf:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.wwflnk a:hover{
    color: yellow;
}


/*################# Gigabyte ##################### */
.gigaur{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.gigtxt{
    font-size: 30px;
}
.giglnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.gigimg img{
   width: 190px; 
}
.gigaur:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.giglnk a:hover{
    color:yellow;
}

/*################# GSkill ##################### */
.gsk{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.gsktxt{
    font-size: 30px;
}
.gsklnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.gskimg img{
   width: 296px; 
}
.gsk:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.gsklnk a:hover{
    color:yellow;
}

/*################# ASRock ##################### */
.asr{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.asrtxt{
    font-size: 30px;
}
.asrlnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.asrimg img{
   width: 299px; 
}
.asr:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.asrlnk a:hover{
    color:yellow;
}

/*################# GSkill ##################### */
.asus{
    border: 2px solid white;
    border-color:#ffffff33;
    backdrop-filter: blur(3px);
    background-color: #ffffff0D;
    width: 350px;
    height:250px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: .6s;
}
.asustxt{
    font-size: 30px;
}
.asuslnk a{
    text-decoration: none;
    color: cyan;
    transition: .7s;
}
.asusimg img{
   width: 283px; 
}
.asus:hover{
    transform: scale(1.1);
    background-color: #0000004D;
}
.asuslnk a:hover{
    color:yellow;
}

/* ################# Mouse ##########################*/
.carousel-cell{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.main-carousel{
    text-align: center;
}
.boxm{
    height:700px;
    width: 300px;
}
.name{
    color: white;
    text-align: center;
    font-size: 25px;
    transition: .6s;
}
.name:hover{
    font-size: 30px;
}
.detail{
    color: white;
    font-size: 20px;
    text-align: left;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    text-align: center;
    color: red;
    font-size: 16px;
    transition: .8s;
    margin-bottom: 15px;
}
.link a:hover{
    color: chocolate;
    font-size: 18px;
}
.mousetitle{
    color: white;
    font-size: 40px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 20px;
    padding-bottom: 15px;
}
/* ###################### Mouse Image Resize ############# */
.msint img{
    height: 450px;
    transition: 1s;
}
.msint img:hover{
    height: 500px;
}
.msiclu img{
    height: 450px;
    transition: 1s;
}
.msiclu img:hover{
    height: 500px;
}
.rda img{
    height: 450px;
    transition: 1s;
}
.rda img:hover{
    height: 500px;
}
.hpf img{
    height: 450px;
    transition: 1s;
}
.hpf img:hover{
    height: 500px;
}
.corm img{
    height: 450px;
    transition: 1s;
}
.corm img:hover{
    height: 500px;
}
.lgg img{
    height: 450px;
    transition: 1s;
}
.lgg img:hover{
    height: 500px;
}
.reda17 img{
    height: 450px;
    transition: 1s;
}
.reda17 img:hover{
    height: 500px;
}
.asusrogm img{
    height: 450px;
    transition: 1s;
}
.asusrogm img:hover{
    height: 500px;
}
.alienm img{
    height: 450px;
    transition: 1s;
}
.alienm img:hover{
    height: 500px;
}

/* ###################### Keyboard ###################### */
.im img{
    margin-top: 20px;
    width: 500px;
    transition: 1s;
    text-align: center;
}
.im img:hover{
    width: 550px;
}
.boxk{
    margin-top: 30px;
    height: 600px;
}
.keytitle{
    color: white;
    font-size: 40px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 40px;
    padding-bottom: 15px;
}

/* #################### FOOTER ############################## */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
.footer{
    background-color: #ffffff0F;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin-top: 40px;
}
.ftn{
    font-size: 20px;
    margin-top: 10px;
    color: #ffffffA6;
    margin-left: 30px;
    font-weight: 500;
    cursor: pointer;
    width: max-content;
    transition: .4s ease-in-out;
    border-bottom: 3px solid #ffffff00;
}
.ftn:hover{
    border-bottom: 3px solid red;
    color: white;
    border-radius: 2px;
}
.sociallnk{
    margin-left: 35px;
    margin-top: 12px;
}
.col {
    width: 25%;
    position: relative;
    padding: 0,15px;
    margin-bottom: 20px;
}

.col ul{
    list-style:none;
}
.col ul li a{
    margin-top: 5px;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff4D;
    max-width: 25%;
    font-weight: 300;
    display: block;
    transition: .5s;
}
.col ul li a:hover{
    padding-left: 10px;
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.sociallnk a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff33;
    border-radius: 50%;
    color: white;
    margin-bottom: 10px;
    margin-right: 5px;
    transition: .4s ease-in-out;
}
.sociallnk a:hover{
    background-color: white;
    color: black;
}


/* ################ RESPONSIVE ###################### */
@media(max-width:858px)
{
    .icon{
        display: block;
        color: white;
    }
    nav ul{
        width: 100px;
        height: 95px;
        margin-top: 60px; 
        text-align: right;
        float: right;
        margin-right:-300px;
        background: black;
        transition: .8s;
        z-index: 200;
    }
    nav ul li:hover{
        border: 0px solid white;
        background: #ffffff00;
        font-size: 18px;
        border-radius: 0px;
        padding-bottom: 20px;
        padding-top: 10px;
        cursor: pointer;
        transition: .3s;
        }
    nav ul li{
        display: block;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    nav ul li a{
    }
    #btn:checked ~ ul{
        margin-right : -45px;
        font-size: 30px;
        z-index: 200;
    }
    label.logo{
        font-size: 25px;
    }
    label.logo:hover{
        font-size: 30px;
    }
    .contents{
        z-index: -1;
    }
    .header{
        font-size: 45px;
    }
    .headerpart{
        font-size: 15px;
    }
    .gapptxt{
        font-size: 30px;
    }
    .discord{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .discord:hover{
        transform: scale(.8);
    }
    .epic{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .epic:hover{
        transform: scale(.8);
    }
    .steam{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .steam:hover{
        transform: scale(.8);
    }
    .aapptxt{
        font-size: 30px;
    }
    .logi{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .logi:hover{
        transform: scale(.8);
    }
    .razr{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .razr:hover{
        transform: scale(.8);
    }
    .wwf{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .wwf:hover{
        transform: scale(.8);
    }
    .gigaur{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .gigaur:hover{
        transform: scale(.8);
    }
    .gsk{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .gsk:hover{
        transform: scale(.8);
    }
    .asr{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .asr:hover{
        transform: scale(.8);
    }
    .asus{
        transform: scale(.7);
        margin-top: -10px;
        margin-bottom: -20px;
    }
    .asus:hover{
        transform: scale(.8);
    }
    .mousetitle{
        transform: scale(.8);
        padding-bottom: 5px ;
    }
    .boxm{
        height: 600px;
    }
    .keytitle{
        transform: scale(.8);
        padding-bottom: 5px;
    }
    .boxk{
        height: 460px;
        margin-top: 15px;
    }
    .im img{
        margin-top: 10px;
        transform: scale(.8);
    }
    .carousel-cell{
        transform: scale(.65);
    }
    .col{
        width: 50%;
    }
}
@media(max-width: 450px)
{
    label.logo{
        font-size: 20px;
    }
    label.logo:hover{
        font-size: 25px;
    }
    .discord{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .discord:hover{
        transform: scale(.7);
    }
    .epic{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .epic:hover{
        transform: scale(.7);
    }
    .steam{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .steam:hover{
        transform: scale(.7);
    }
    .aapptxt{
        font-size: 30px;
    }
    .logi{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .logi:hover{
        transform: scale(.7);
    }
    .razr{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .razr:hover{
        transform: scale(.7);
    }
    .wwf{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .wwf:hover{
        transform: scale(.7);
    }
    .gigaur{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .gigaur:hover{
        transform: scale(.7);
    }
    .gsk{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .gsk:hover{
        transform: scale(.7);
    }
    .asr{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .asr:hover{
        transform: scale(.7);
    }
    .asus{
        transform: scale(.6);
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .asus:hover{
        transform: scale(.7);
    }

    .mousetitle{
        transform: scale(.7);
    }
    .keytitle{
        transform: scale(.7);
    }
    .col{
        width: 100%;
    }
    .carousel-cell{
        width: 100%;
    }
    .im img{
        transform: scale(.65);
        margin-left: -90px;
    }
    .im img:hover{
        margin-left: -105px;
    }
}
@media(max-width:320px)
{
    label.logo{
        display: none;
    }
}